.tagcloud {

  a {
    background-color: $mp-theme-color-two;
    border-color: $mp-theme-color-two;
    color: #fff;

    &:hover {
      background-color: $mp-theme-color-one;
      border-color: $mp-theme-color-one;
      color: #fff;
    }
  }
}