#comments-section article > .comment-wrap {
  background-color: lighten($mp-theme-border-color, 4%);
}

#comments-section .children article .left-border {
  background-image: url("../images/comment-border.png");
}

#comments-section .children article .vertical-border {
  background-image: url("../images/comment-border2.png");
}

.commentlist li.pingback {
  border-bottom-color: #dedede;
}

.appointment-modal-form,
.contact-form,
#respond {

  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="range"],
  input[type="password"],
  input[type="email"],
  input[type ="text"],
  textarea {
    &:focus {
      border-color: #e0e0e0;
    }
  }
}