.alignnone {
  margin: 5px 30px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 30px;
}

.alignleft {
  float: left;
  margin: 5px 30px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 30px;
}

a img.alignnone {
  margin: 5px 30px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 30px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  border: 1px solid transparent;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 5px 3px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 30px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 30px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 30px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 5px 5px 1px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  border-radius: 3px;
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.wp-caption {
  margin-bottom: 1.6em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
}

.wp-caption-text {
  line-height: 1.5;
  padding: 0.5em 0;
}

.gallery {
  margin-bottom: 1.6em;
}

.gallery-item:not(.gallery-common),
.gallery-item:not(.gallery-grid),
.gallery-item:not(.gallery-grid-one) {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.search-results .gallery-item.type-gallery-item{
  text-align: inherit;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  display: block;
  line-height: 1.5;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}