.toggle-main .toggle-title h3,
.accordion-main .accordion-title h3 {
  padding-right: 2rem;
  padding-left: 4rem;
}

.toggle-main .toggle-title .fa,
.accordion-main .accordion-title .fa {
  right: auto;
  left: 23px;
}