
#comments-section .children article .left-border {
  background-position-x: right;
  left: auto;
  right: 0;
}

#comments-section .children article .vertical-border {
  background-position-x: right;
  left: auto;
  right: 0;
}

.comment-meta .comment-reply-link {
  right: auto;
  left: 0;
}

.commentlist li.pingback {
  margin-left: 0;
  margin-right: 0;
}

.comment-detail-wrap {
  float: right;
}

.commentlist .children .depth-2 .comment-wrap {

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 95px;
  }
}

.commentlist .children .depth-3 .comment-wrap {

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 190px;
  }
}

.commentlist .children .depth-4 .comment-wrap {

  @include media-breakpoint-up(xl) {
    margin-left: 0;
    margin-right: 285px;
  }
}

a.avatar {
  margin-right: 0;
  margin-left: 15px;
  float: right;
}