/*------------------------------------------------------*/
/* News shortcode styles
/*------------------------------------------------------*/
.news-shortcode {

  .format-link {
    .link {
      background-position-x: 95%;
      padding-right: 7.5rem;
      padding-left: 2.5rem;
    }

    .link-container {
      padding-left: 0;
      padding-right: 20px;
      border-left: none;
      border-right: 1px solid transparent;
    }
  }
}