/*!
 * Main CSS v1.0
 */
/*-------------------------------------------------------------------*/
/* 01 - Header
/*-------------------------------------------------------------------*/
.header-search-form-container {
  border-right-color: #ecf1f2;
}

.mean-container .mean-nav ul li a.mean-expand {
  border-right-color: rgba(255, 255, 255, 0.1) !important;
}

/*-------------------------------------------------------------------*/
/* 02 - Footer
/*-------------------------------------------------------------------*/
.call-to-action {
  background-image: -webkit-linear-gradient(left, #017e9d 0%, #7ace4c 100%);
  background-image: linear-gradient(to right, #017e9d 0%, #7ace4c 100%);
  background-repeat: repeat-x;
}

/*-------------------------------------------------------------------*/
/* 03 - Pages
/*-------------------------------------------------------------------*/
.announcement .btn,
.announcement input[type="submit"],
.announcement .read-more,
.home-services .btn,
.home-services input[type="submit"],
.home-services .read-more {
  background-image: url("../images/icon-right-arrow-flipped.png");
}

.blog-page .format-quote blockquote.quote p {
  border-right-color: #f47c7b;
}

.blog-page .format-link .link-container {
  border-right-color: #f47c7b;
}

.blog-page blockquote {
  border-right-color: #4dbed9;
}

.entry-content blockquote {
  border-right-color: #86d0e4;
}

.news-shortcode .format-link .link-container {
  border-right-color: #f47c7b;
}

.news-shortcode blockquote {
  border-right-color: #4dbed9;
}

.entry-content .tabs-nav li {
  border-right-color: #dcdee4;
}

.entry-content .tabs-nav li:last-child {
  border-left-color: #dcdee4;
}

.entry-content .tabs-nav.vertical li {
  border-right-color: #dcdee4;
}

.entry-content .tabs-nav.vertical li:last-child {
  border-bottom-color: #dcdee4;
}

.arrow-list-one ul li {
  background-image: url(../images/arrow-list-one-bg-flipped.png);
}

.arrow-list-two ul li {
  background-image: url(../images/arrow-list-two-bg-flipped.png);
}

.alert-info {
  border-right-color: #afd9ee;
}

.alert-warning {
  border-right-color: #f7ecb5;
}

.alert-success {
  border-right-color: #c1e2b3;
}

.alert-danger {
  border-right-color: #e4b9b9;
}

table thead tr th {
  border-right-color: #5ab1c5;
}

table thead tr th:first-child {
  border-left-color: #66c9e0;
}

table thead tr th:last-child {
  border-right-color: #66c9e0;
}

.tab-var-one .nav-tabs > li {
  border-right-color: #ffc118;
}

.tab-var-two .nav-tabs > li {
  border-right-color: #de4c4a;
}

.tab-var-three .nav-tabs > li {
  border-right-color: #2f93ab;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  border-right-color: #ecf1f2;
}
