.site-header {

  .stick{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
  }

  @include media-breakpoint-down(md) {
    .container {
      max-width: 100%;
    }
  }

  &-top {
    font-weight: 300;
    border-bottom: 1px solid transparent;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    &-common {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }

    &-col-right {

      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
  }

  &-middle {

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    .row {
      min-height: 95px;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }

    &-col-right {

      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
  }
}

@import "header-opening-hours";
@import "header-social-nav";
@import "header-search";

// Header Middle
@import "header-logo";
@import "header-address";
@import "header-contact-number";

// Header Bottom
@import "header-menu";
@import "header-appointment-button";