.header-search-form-container {
  position: relative;
  display: none;
  min-width: 26.5rem;
  font-size: 1.4rem;
  vertical-align: middle;
  border-left: 1px solid transparent;

  @include media-breakpoint-up(xl) {
    display: inline-block;
  }

  input {
    @extend .site-header-top-common;
    width: 100%;
    padding-right: 2.8rem;
    padding-left: 1.7rem;
    font-weight: inherit;
    border: none;
  }

  .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 3px 9px;
    cursor: pointer;

    &,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: transparent;
    }
  }
}